# Compiled files
*.o
*.out

# Executable files
syscall_test
utils_test
read_benchmark

# Benchmark test data
*.bin

# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
sco-venv/
venv/
.venv/

# Generated benchmark results
results/raw_timing/*
results/raw_syscalls/*
results/raw_perf/*
results/stats/*

# Keep directory structure
!results/raw_timing/.gitkeep
!results/raw_syscalls/.gitkeep
!results/raw_perf/.gitkeep
!results/stats/.gitkeep
file_read_baseline
syscall_count
